@page
@model AutomotiveMB.Pages.ClientCreate.DeleteClientModel
@{
}



<form method="post">
    <input type="hidden" asp-for="Client.Id" />
    <input type="hidden" asp-for="Client.Nombre" />
    <input type="hidden" asp-for="Client.Apellido" />
    <input type="hidden" asp-for="Client.Dni" />
    <input type="hidden" asp-for="Client.FechaNacimiento" />
    <input type="hidden" asp-for="Client.Email" />
    <input type="hidden" asp-for="Client.Telefono" />

    <div asp-validation-summary="All" class="text-danger"></div>

    <h4> Are you sure you want to delete the customer? </h4>

    <div>
        <strong>Nombre:</strong>@Model.Client.Nombre
    </div>

    <div>
        <strong>Apellido:</strong>@Model.Client.Apellido
    </div>

    <div>
        <strong>Dni:</strong>@Model.Client.Dni
    </div>

    <div>
        <strong>FechaNacimiento:</strong>@Model.Client.FechaNacimiento
    </div>

    <div>
        <strong>Email:</strong>@Model.Client.Email
    </div>

    <div>
        <strong>Telefono:</strong>@Model.Client.Telefono
    </div>

    <br />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-page="IndexClient" class="btn btn-secondary">Cancel</a>
</form>

<partial name="_ValidationScriptsPartial" />