@page
@model AutomotiveMB.Pages.Client.IndexModel
@{
    ViewData["Title"] = "Clients";
}

<a asp-page="CreateClient" class="btn btn-success mb-3">Add Client</a>
@if (Model.Client.Count == 0)
{
    <p>no clients loaded</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Lastname</th>
                <th>Birth date</th>
                <th>Dni</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var client in Model.Client)
            {
                <tr>
                    <td>@client.Id</td>
                    <td>@client.Name</td>
                    <td>@client.Lastname</td>
                    <td>@client.BirthDate.ToShortDateString()</td>
                    <td>@client.Dni</td>
                    <td>@client.Email</td>
                    <td>@client.PhoneNumber</td>
                    <td>
                        <a asp-page="EditClient" asp-route-id="@client.Id" class="btn btn-primary btn-sm">Edit</a>
                        <a asp-page="DeleteClient" asp-route-id="@client.Id" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}