@page
@model AutomotiveMB.Pages.ClientCreate.IndexClientModel
@{
    ViewData["Title"] = "Clients";
}

<a asp-page="ClientCreate" class="btn my-red-btn mb-3">Add Client</a>
@if (Model.Clients.Count == 0)
{
    <p>No clients are loaded</p>
}
else
{
 <!DOCTYPE html>
<html Lang="en">
    <head>
        <!--Fonts-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
        <title>Customer Storage</title>
    </head>

  <body class="CBackground">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Lastname</th>
                <th>Birth date</th>
                <th>Dni</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var client in Model.Clients)
            {
                <tr>
                    <td>@client.Id</td>
                    <td>@client.Nombre</td>
                    <td>@client.Apellido</td>
                    <td>@client.FechaNacimiento?.ToString("dd/MM/yyyy")</td>
                    <td>@client.Dni</td>
                    <td>@client.Email</td>
                    <td>@client.Telefono</td>
                    <td>
                        <a asp-page="EditClient" asp-route-id="@client.Id" class="btn btn-primary btn-sm">Edit</a>
                        <a asp-page="DeleteClient" asp-route-id="@client.Id" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
  </body>
</html>
}