@page
@model AutomotiveMB.Pages.ClientCreate.IndexClientModel
@{
    ViewData["Title"] = "Clients";
}

<a asp-page="ClientCreate" class="btn btn-success mb-3">Add Client</a>
@if (Model.Clients.Count == 0)
{
    <p>No clients are loaded</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Lastname</th>
                <th>Birth date</th>
                <th>Dni</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var client in Model.Clients)
            {
                <tr>
                    <td>@client.Id</td>
                    <td>@client.Nombre</td>
                    <td>@client.Apellido</td>
                    <td>@client.FechaNacimiento?.ToString("dd/MM/yyyy")</td>
                    <td>@client.Dni</td>
                    <td>@client.Email</td>
                    <td>@client.Telefono</td>
                    <td>
                        <a asp-page="EditClient" asp-route-id="@client.Id" class="btn btn-primary btn-sm">Edit</a>
                        <a asp-page="DeleteClient" asp-route-id="@client.Id" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}